<h1>Mis Arcades</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <% @arcades.each do |arcade| %>
    <tr>
      <td><%= arcade.name %></td>
      <td><%= arcade.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>