<div class="vh100">
	<div class="container register-box">

<h2>Nombra tu Arcade, selecciona uno de nuestros diseños o sube el tuyo!</h2>

<%= render 'form', arcade: @arcade %>
<!--
<%= link_to 'Back', arcades_path %>
	-->
</div>
</div>