// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p { /*list of users arcades */

	color: black;
}

h3 {

	color: rgb(184, 4, 224);
}

.btn.create {

	background-color: #262626;
	border-color: #b804e0;
	color: white;
	font-size: 15px;

}

i.fa.create {

	color: white;
}